[submodule "submissions/terrible_ui_2/gravity-spinner/badui-phone-number"]
	path = submissions/terrible_ui_2/gravity-spinner/badui-phone-number
	url = https://github.com/KyleSmith0905/badui-phone-number
