@font-face {
    font-family: VT323;
    src: url("../fonts/VT323.ttf");
    font-weight: normal;
    font-display: swap;
}

body {
    overflow-x: scroll;
}

.buttons {
    margin-bottom: 0.5rem;
}

.hidden {
    display: none;
}

.instructions {
    max-width: 300px;
}

.game-area {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.game-area h2 {
    margin-bottom: 0.5rem;
    font-family: VT323;
    font-size: 3rem;
}

#timerOutput {
    text-align: center;
}

.board {
    margin-bottom: 0px;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    cursor: pointer;
}

th, td {
    background-color: #190b92;
}

td {
    height: 50px;
    width: 50px;
    min-width: 50px;
    text-align: center;
    color: white;
    font-size: 2.0rem;
    font-family: 'Calibri', sans-serif;
}

td.selected {
    background-color: #128fc9;
}

