*

!.gitignore
!package.json
!package-lock.json
!rollup.config.js
!svelte.config.js
!tsconfig.json
!eslintrc.cjs
!.prettierrc
!.eslintrc.cjs
!pnpm-lock.yaml
!about.json
!README.md
!LICENSE.txt

!build
!build/**
!static
!static/**
!/src
!/src/**
!/public
!/public/**
/public/build
