{
  "arrowParens": "always",
  "bracketSpacing": true,
  "printWidth": 120,
  "quoteProps": "consistent",
  "semi": true,
  "singleQuote": true,
  "svelteIndentScriptAndStyle": false,
  "useTabs": false,
  "tabWidth": 2,
  "trailingComma": "es5"
}
